section{
    
    padding: 8% 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
   background-color:pink;
    grid-row-gap:15px;
   
}
.cards{
    width:260px;
   padding:5px 15px;
    text-align:center;
    margin:auto;
    background-color: bisque;
    border-radius: 5px;
}
.cards:hover{
    box-shadow: 0 0 5px 5px purple;
    border-radius:5px;
    
}
.imgbox img{
    width:200px;
    height:300px;
}
.details{
    margin-bottom: 10px;
    }
.details p:nth-child(1){
    font-weight:bold;
}
.details p:nth-child(2){
    color: grey;
    font-size: 0.8rem;
}
.details p:nth-child(3){
    font-weight: bold;
    color: grey;
}
.details p:nth-child(3) svg{
    font-size: 0.8em;
}
.details button{
    padding: 10px;
    border: none;
    font-weight: bold;
    background-color: skyblue;
    outline: none;
    border-radius: 2px;
}
.warning{
    height: 50px;
    width: 250px;
    position: fixed;
    right: 0;
    top: 60px;
    background-color: rgb(210, 91, 91);
    font-size: 1.1rem;
    color: white;
    font-family: monospace;
    padding: 10px;
    border-radius: 5px;
}
@media screen and (max-width: 800px)  {
    
    section{
    
        padding-top: 5%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    
       
    } 
    img{
        width:50%;
        height:50%;
    }
    .cards{
        height:80%;
        padding-bottom:100px;
      
    }
}
@media screen and (min-width:800px) and (max-width: 1200px)  {
    section{
    
        padding-top: 5%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    
       
    } 
    img{
        width:80%;
        height:80%;
    }
    .cards{
        padding-bottom: 100px;
        height: 80%;
    }
}